<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmbbhh.management.mapper.NoticeMapper">
    <insert id="uploadNotice">
        INSERT INTO manage_notice(content, uid, uname, upload_date, did)
        VALUES (#{content}, #{id}, #{username}, #{date}, #{did})
    </insert>
    <select id="getNotice" resultType="map">
        SELECT content, uname, upload_date FROM manage_notice WHERE did=#{id} ORDER BY upload_date desc LIMIT 1
    </select>
</mapper>